.cf::after,
.cf::before {
  content: '';
  display: block;
  clear: both; }

.link {
  text-decoration: none; }

img {
  vertical-align: middle; }

.txt-small {
  font-size: 16px; }

.box-beige {
  background-color: #FBF7EC; }

.inner {
  width: 1000px;
  margin: 0 auto; }

header {
  height: 50px;
  width: 100%;
  background-color: #66A900; }

h1 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px; }

.mainimage {
  text-align: center; }

.photolist {
  margin-bottom: 50px;
  text-align: center; }

.photolist_item {
  display: inline-block; }

.pickupbox {
  background-color: #EAE9C8;
  padding: 20px 0; }
  .pickupbox__content {
    background-color: #fff;
    margin: 0 auto;
    width: 1000px;
    text-align: center; }
    .pickupbox__content__thumb {
      display: inline-block; }

.txt__green {
  color: #006837; }

.aboutbox {
  text-align: center;
  background-color: #E3F0D5;
  padding-bottom: 200px; }
  .aboutbox__innerbox {
    width: 982px;
    margin: 0 auto; }
  .aboutbox__txtbox {
    width: 520px;
    margin-top: -50px;
    margin-bottom: 50px;
    position: relative; }
  .aboutbox__txt {
    font-size: 16px;
    line-height: 35px;
    text-align: left; }
  .aboutbox__thumb1 {
    position: absolute;
    top: 15px;
    left: 495px; }
  .aboutbox__txtbox2 {
    margin-bottom: 50px; }
  .aboutbox__txt2 {
    width: 500px;
    float: right;
    font-size: 16px;
    line-height: 35px;
    text-align: left;
    padding-top: 40px; }
  .aboutbox_thumb2 {
    float: left; }
  .aboutbox__txtbox3 {
    margin-top: 50px;
    position: relative; }
  .aboutbox__txt3 {
    width: 520px;
    float: left;
    font-size: 16px;
    line-height: 35px;
    text-align: left;
    padding-top: 40px; }
  .aboutbox1-1_thumb {
    float: right;
    position: absolute;
    right: -30px; }

.customerVoice {
  background-color: #F8F8EE;
  text-align: center;
  padding: 0 0 200px; }
  .customerVoice__title {
    font-size: 40px;
    color: #754C24;
    margin-bottom: 20px;
    text-align: left;
    line-height: 45px; }
  .customerVoice__content {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 20px 40px;
    border-top: 10px solid #66A900; }
    .customerVoice__content:last-child {
      border-bottom: 10px solid #66A900; }
    .customerVoice__content__thumb {
      float: right;
      margin-left: 30px;
      margin-bottom: 30px; }
    .customerVoice__content__txt {
      font-size: 16px;
      line-height: 30px;
      text-align: left; }
