.p-usergide {
  &__content {
    background-image: url("../../portfolio/img/eat-kg.png");
    background-repeat: no-repeat;
    width: 945px;
    height: 220px;
    margin: 50px auto;
    position: relative;
  }

  &__txt {
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    top: 75px;
    left: 130px;
    width: 390px;
  }
}
